:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 85 82 139;
  --oui-color-primary-light: 143 138 193;
  --oui-color-primary-darken: 56 54 95;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 128 124 189;
  --oui-color-link-light: 183 179 230;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 73 122;
  --oui-color-danger-light: 250 143 173;
  --oui-color-danger-darken: 225 56 107;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 205 149;
  --oui-color-success-light: 92 229 198;
  --oui-color-success-darken: 0 163 114;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 191 59;
  --oui-color-warning-light: 255 223 121;
  --oui-color-warning-darken: 255 153 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 29 26 38;
  --oui-color-fill-active: 35 32 48;

  --oui-color-base-1: 64 61 93;
  --oui-color-base-2: 56 53 79;
  --oui-color-base-3: 47 44 66;
  --oui-color-base-4: 40 37 56;
  --oui-color-base-5: 35 32 47;
  --oui-color-base-6: 29 26 38;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 22 20 28;
  --oui-color-base-9: 18 16 24;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 73 122;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 205 149;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 37 74;
  --oui-gradient-primary-end: 128 124 189;

  --oui-gradient-secondary-start: 56 54 95;
  --oui-gradient-secondary-end: 85 82 139;

  --oui-gradient-success-start: 1 73 60;
  --oui-gradient-success-end: 34 205 149;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 237 73 122;

  --oui-gradient-brand-start: 200 190 230;
  --oui-gradient-brand-end: 143 138 193;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 191 59;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}